.stock-container {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-gap: 2em;

  .left-container {
    display: grid;
    grid-template-rows: 7fr 3fr;
    row-gap: 2em;

    .graph-container,
    .overview-container {
      border-radius: 10px;
      background-color: #3E3E3E;
      filter: drop-shadow(0 3px 10px rgba(0, 0, 0, 0.15));
      padding: 2.5em 3em;
    }

    .graph-container {
      display: flex;

      .inner-graph-container {
        display: flex;
        width: 100%;
        flex-direction: column;

        .graph-header-container {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1em;

          .container-title {
            align-self: center;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 1px;
            font-size: 150%;
          }

          .time-period-container {
            display: flex;

            .time-period-button {
              font-size: 80%;
              margin-right: 0.5em;

              &:last-child {
                margin-right: 0;
              }
            }

            .time-period-button.active {
              color: #FFDA9F;
            }
          }
        }

        .stock-graph-container {
          flex: 1 1 auto;

          .stock-graph {
            height: 0%;
          }
        }
      }
    }

    .overview-container {
      display: flex;

      .inner-overview-container {
        display: flex;
        width: 100%;
        flex-direction: column;

        .overview-header-container {

          .container-title {
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 1px;
            font-size: 150%;
            margin-bottom: 1em;
          }
        }

        .grid-container {
          display: grid;
          grid-template-columns: 2fr 1fr;
          grid-gap: 1em;

          .grid-item {

            .info-title, .info-text {
              display: inline-block;
              text-transform: uppercase;
              font-size: 90%;
              letter-spacing: 1px;
              color: #E8E8E8;
            }

            .info-title {
              font-weight: 600;
              margin-right: 1em;
            }

            .info-text {
              display: inline-block;
            }
          }
        }
      }
    }
  }

  .right-container {
    border-radius: 10px;
    background-color: #3E3E3E;
    filter: drop-shadow(0 3px 10px rgba(0, 0, 0, 0.15));
    padding: 2.5em 3em;
  }

}
