.user-info-bar-container {
  width: auto;
  border-radius: 10px;
  padding: 1.25em 2em;
  background-color: #3E3E3E;
  filter: drop-shadow(0 3px 10px rgba(0, 0, 0, 0.15));
  margin-bottom: 2em;
  display: flex;

  .user-profile-icon {
    width: 10%;
    height: 10%;
    display: flex;
    margin-right: 2em;
    justify-content: center;
    align-content: center;

    .user-letter {
      background-color: #E8E8E8;
      border-radius: 5px;
      width: 75px;
      height: 75px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      line-height: 100%;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 275%;
      color: #333333;
    }

    @media (max-width: 768px) {
      .user-letter {
        height: 50px;
        width: 50px;
      }
    }
  }

  .name-account-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 6em;

    .name {
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1px;
      font-size: 150%;
      margin-bottom: 0.25em;
    }

    .account {
      font-size: 80%;
      letter-spacing: 0.5px;
    }

    @media (max-width: 1440px) {
      .name {
        font-size: 125%;
      }
    }
  }


  .info-container {
    border-radius: 5px;
    background-color: #383838;
    width: 100px;
    padding: 1.25em 1.5em;
    margin-right: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .info-title {
      text-transform: uppercase;
      font-size: 75%;
      letter-spacing: 1px;
    }

    .info-value {
      font-size: 150%;
      font-weight: 300;
      letter-spacing: 2px;
      color: #FFDA9F;
    }

    @media (max-width: 1440px) {
      .info-value {
        font-size: 125%;
      }
    }
  }

  .button-container {
    margin-left: auto;
    display: flex;
    align-items: flex-end;
  }

  @media (max-width: 1440px) {
    .info-container {
      margin-right: 1.5rem;
    }
    .name-account-container {
      margin-right: 2rem;
    }
    .button-container {
      font-size: 95%;
    }
  }

  @media (max-width: 768px) {
    .user-profile-icon {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      margin: 0;
      grid-column: 1;
      grid-row: 1;
    }
    .name-account-container {
      grid-column: 2;
      grid-row: 1;
      margin: 0;
    }
    .info-container {
      grid-row: 2;
      margin: 0;
    }
    .button-container {
      grid-column: 2;
      margin: 0;
      grid-row: 3;
    }
  }
}

@media (max-width: 768px) {
  .user-info-bar-container {
    display: grid;
    grid-template-rows:auto;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
    row-gap: 1rem;
  }
}
