.stock-search-container {
  width: 30vw;
  border: solid 2px #464646;
  border-radius: 5px;
  overflow: hidden;

  .suggestion-list {
    border: solid 2px #606060;
    width: 30vw;
    list-style: none;
    padding: 0;
    position: absolute;
    margin-top: 0.5em;
    margin-left: -2px;
    z-index: 1;
    border-radius: 5px;
    background-color: #606060;
    overflow: hidden;

    li {

      &:first-child {

        .suggestion-item {
          border-radius: 5px 5px 0px 0px;
        }
      }

      &:last-child {

        .suggestion-item {
          border-radius: 0px 0px 5px 5px;
        }
      }

      .suggestion-item {
        padding: 0.8em 1.8em;
        background-color: #606060;
        transition: 0.5s ease;
        min-width: 30vw;

        &:hover {
          cursor: pointer;
          background-color: #535353;

          .suggestion-text {
            color: #FFDA9F;
          }
        }

        .suggestion-text {
          color: #FFEED2;
          letter-spacing: 1px;
          font-size: 100%;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .suggestion-list {
      width: 25vw;
    }
  }

  @media (max-width: 1080px) {
    .suggestion-list {
      margin-top: 4em;
      width: 75vw;
    }
  }
}

@media (max-width: 1200px) {
  .stock-search-container {
    width: 25vw;
  }
}

@media (max-width: 1080px) {
  .stock-search-container {
    width: 100%;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: center;
  }
}


