.table {
	height: 85%;
	overflow: scroll;

	.table-row {
		margin-bottom: 0.5em;
		padding: 1em;
		display: flex;
		border-radius: 10px;
		justify-content: space-between;
		transition: 0.3s ease;

		.table-value {
			flex: 1;
			text-align: center;
			font-size: 100%;
			letter-spacing: 1px;
			font-weight: 300;
		}

		.stock {
			&:hover {
				cursor: pointer;
			}
		}

		.action {
			text-transform: uppercase;
			font-weight: 600;
			color: #f3d098;
			transition: 0.5s ease;
			z-index: 100;

			&:hover {
				cursor: pointer;
				color: #f2b95e;
			}
		}

		.positive {
			color: #6be647;
		}

		.negative {
			color: #ff4400;
		}

		&:hover {
			cursor: pointer;
			background-color: #464646;
			transition: all 0.2s linear;
			-webkit-transition: all 0.2s linear;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.header-container {
	margin-bottom: 0.5em;
	background-color: #303030;
	padding: 1em;
	display: flex;
	border-radius: 10px;

	.header {
		flex: 1;
		text-align: center;
		color: #606060;
		font-size: 100%;
		font-weight: 600;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}

@media (max-width: 1080px) {
	.table {
		height: 77.5%;
	}
}

@media (max-width: 768px) {
	.table {
		height: 70%;
	}
}
