.table {

    .header-container {
        margin-bottom: 0.5em;
        background-color: #303030;
        padding: 1em;
        display: flex;
        border-radius: 10px;

        .header {
            flex: 1;
            text-align: center;
            color: #606060;
            font-size: 100%;
            font-weight: 600;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }

    .table-row {
        margin-bottom: 0.5em;
        padding: 1em;
        display: flex;
        border-radius: 10px;
        justify-content: space-between;
        transition: 0.3s ease;

        .table-value {
            flex: 1;
            text-align: center;
            font-size: 100%;
            letter-spacing: 1px;
            font-weight: 300;
        }

        .stock {
            &:hover {
                cursor: pointer;
            }
        }

        .action {
            color: #F3D098;

            &:hover {
                cursor: pointer;
            }

        }

        .positive {
            color: #6BE647
        }

        .negative {
            color: #FF4400;
        }

        &:hover {
          cursor: pointer;
          background-color: #464646;
          transition: all .2s linear;
          -webkit-transition: all .2s linear;
        }

        &:last-child {
          margin-bottom: 0;
        }
    }
}
