.nav-bar {
  display: flex;
  align-items: center;
  margin-bottom: 2em;

  .logo {
    width: 200px;
    margin-right: 4em;

    &:hover {
      cursor: pointer;
    }
  }


  .input-field.search {
    width: 30vw;
    border-color: #464646;
    background-color: #464646;
    color: #FFDA9F;

    &::placeholder {
      color: #6E6E6E;
    }
  }

  .nav-list {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin-left: auto;

    .nav-item {
      display: inline-block;
      margin-left: 1em;

      &:first-child {
        margin-left: 0;
      }

      .nav-link {
        border-radius: 5px;
        border: solid 2px transparent;
        background-color: transparent;
        text-decoration: none;
        color: #E8E8E8;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 100%;
        padding: 0.8em;
        transition: 0.3s ease;
        &:hover {
          color: #E56536;
        }

        &:focus{
          border-color: #D95C2E;
        }

        &.active {
          color: #E56536;
        }
      }

    }
    .log-out {
      width: 120px;
      padding: 0.8em;
    }
  }
}
