.nav-bar {
  display: flex;
  align-items: center;
  margin-bottom: 2em;

  .logo {
    width: 200px;
    margin-right: 3em;

    &:hover {
      cursor: pointer;
    }
    
  }

  .input-field.search {
    width: 100%;
    border: none;
    background-color: #464646;
    color: #FFDA9F;

    &::placeholder {
      color: #6E6E6E;
    }
  }

  .nav-list {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin-left: auto;

    .nav-item {
      display: inline-block;
      margin-left: 1em;

      &:first-child {
        margin-left: 0;
      }

      .nav-link {
        border-radius: 5px;
        border: solid 2px transparent;
        background-color: transparent;
        text-decoration: none;
        color: #E8E8E8;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 100%;
        padding: 0.8em;
        transition: 0.3s ease;
        &:hover {
          color: #E56536;
        }

        &:focus{
          border-color: #D95C2E;
        }

        &.active {
          color: #E56536;
        }
      }

      @media (max-width: 1080px) {
        &:last-child {
          float: right;
        }
      }
    }
    
    .log-out {
      width: 120px;
      padding: 0.8em;
    }

    @media (max-width: 1440px){
    .nav-item {
        font-size: 0.9rem;
      }
    }

    @media (max-width: 1080px){
    .nav-item {
        display: inline-flex;
      }
    }
  }

  @media (max-width: 1440px){
    .logo {
      width: 175px;
      margin-right: 2em;
    }
  }
    
  @media (max-width: 1080px){
    .logo {
      width: 150px;
      align-content: center;
      margin-bottom: 1.5rem;
      margin-right: 0;
    }
    .nav-list {
      margin-left: 0;
      width: 100%;
    }
    .input-field.search {
      width: 100%;
    }
  }
}
  
@media (max-width: 1080px){
  .nav-bar {
    flex-direction: column;
  }
}
