.modal-content {
  .total-shares-row {
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin-bottom: 1.5em;

    .key,
    .value {
      display: inline-block;
      letter-spacing: 1px;
    }

    .key {
      margin-right: 1em;
      text-transform: uppercase;
      font-weight: 300;
      color: #E8E8E8;
    }

    .value {
      font-weight: 600;
      color: #E56536;
    }
  }

}
